<div class="container pt-5">
    <h2 class="text-center fontTitle">Gastos</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <app-ingresar-gasto (gasto)="addGasto($event)"></app-ingresar-gasto>
                </div>
                <div class="col-lg-6">
                    <h2>Presupuesto Inicial: {{presupuesto | currency}}</h2>
                    <h2>Presupuesto Restante: {{restante | currency}} </h2>
                    <app-listar-gasto [listaMostrar] = "listaGastos" ></app-listar-gasto>
                </div>
            </div>
        </div>
    </div>

</div>
